<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Seja bem vindo Administrador!
    <p>

    <div>
        Escolha o que desejar fazer:
    </div>

    <div>
        <p>
            <a href="formulario-incluir-typeUser">Incluir</a>
        </p>

        <p>
            <a href="formulario-excluir-typeUser">Deletar</a>
        </p>

        <p>
            <a href="formulario-update-typeUser">Altear</a>
        </p>

        <p>
            <a href="listarTodos">Listar todos os Registros</a>
        </p>
    </div>
</body>
</html>

